<template>
  <nav
    id="navbar"
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  >
    <div class="container">
      <nuxt-link
        class="navbar-brand" 
        to="/"
      >
        Library System
      </nuxt-link>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"/>
      </button>
      <div 
        id="navbarResponsive" 
        class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li 
            :class="this.$route.path === '/' ? 'nav-item active' : 'nav-item'"
          >
            <nuxt-link
              class = "nav-link"
              to="/"
            >
              Home
            </nuxt-link>
          </li>
          <li
            :class="this.$route.path === '/printed' ? 'nav-item active' : 'nav-item'"
          >
            <nuxt-link
              class = "nav-link"
              to="/printed"
            >
              Printed Resources
            </nuxt-link>
          </li>
          <li
            :class="this.$route.path === '/digital' ? 'nav-item active' : 'nav-item'"
          >
            <nuxt-link
              class = "nav-link"
              to="/digital"
            >
              Digital Items
            </nuxt-link>
          </li>
          <li
            v-if = "isAdmin"
            :class="this.$route.path === '/resources' ? 'nav-item active' : 'nav-item'"
          >
            <nuxt-link
              class = "nav-link"
              to="/resources"
            >
              Resource Management
            </nuxt-link>
          </li>
          <li
            v-if = "isAdmin"
            class="dropdown nav-item"
          >
            <a class="nav-link">
              <button 
                :style="this.$route.path.indexOf('/borrows') !== -1 ? 'color:white;' : ''"
                class="dropbtn nav-link"
              >
                Borrow Management
              </button>
              <div class="dropdown-content">
                <nuxt-link
                  v-if = "isAdmin"
                  class = "button1 buttons"
                  to="/borrows/requests"
                >
                  Requests
                </nuxt-link>
                <nuxt-link
                  v-if = "isAdmin"
                  class = "button1 buttons"
                  to="/borrows/active"
                >
                  Active
                </nuxt-link>
                <nuxt-link
                  v-if = "isAdmin"
                  class = "button1 buttons"
                  to="/borrows/history"
                >
                  History
                </nuxt-link>
            </div></a>
          </li>
          <li
            class="dropdown nav-item"
          >
            <a class="nav-link">
              <button 
                class="dropbtn nav-link"
              >
                Borrows
              </button>
              <div class="dropdown-content">
                <a
                  class = "button1 buttons"
                  style="color:black;cursor:pointer;"
                  @click="openBorrowQueue"
                >
                  Queue
                </a>
                <a
                  class = "button1 buttons"
                  style="color:black;cursor:pointer;"
                  @click="openBorrowHistory"
                >
                  History
                </a>
            </div></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              style="cursor: pointer;"
              @click="logout"
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>


<script>
  import { mapGetters, mapActions } from 'vuex'
  import { jsUcFirst, validateAdmin } from '~/assets/parseData'
  import view from '~/assets/modifyView'

  import userBorrowQueue from '~/components/modals/userBorrowQueue'
  import userBorrowHistory from '~/components/modals/userBorrowHistory'
  import credentialsConfig from '~/config/credentials.mapping'
  import borrowSettings from '~/config/borrow.settings'

  export default {
    data() {
      return {
        isAdmin: false,
        fetchSettingsTick: null
      }
    },

    computed: {
      ...mapGetters([
        'isAuthenticated',
        'loggedInUser'
      ]),

      ...mapActions([
        'refetchSettings'
      ]),

      fullName () {
        if (this.isAuthenticated) {
          const firstName = jsUcFirst(this.loggedInUser.first_name)
          const middleInitial = jsUcFirst(this.loggedInUser.middle_initial[0])
          const lastName = jsUcFirst(this.loggedInUser.last_name)

          return `${firstName} ${middleInitial}. ${lastName}`
        }
        return null
      },

      type () {
        if (this.isAuthenticated) {   
          return jsUcFirst(this.loggedInUser.type)
        }
        else {
          return null
        }
      }
    },

    created() {
      this.$cookies.set('lastLogger', this.fullName)
      this.isAdmin = validateAdmin(this.loggedInUser.type)
      if (process.client) {
        this.fetchSettings()
      }
    },

    beforeDestroy () {
      if (process.client) {
        clearInterval(this.fetchSettingsTick)
      }
    },

    mounted() {
      this.checkBorrowQueueStatus()
    },

    methods: {
      async logout() {
        await this.$auth.logout()
        this.$router.push('/login')
      },

      async fetchSettings() {
        this.fetchSettingsTick = setInterval(async ()=>{
          if(this.isAuthenticated) {
            await this.$store.dispatch('refetchSettings')
            this.checkBorrowQueueStatus()
          }
        },30000)
      },
      
      checkBorrowQueueStatus() {
        if (this.loggedInUser.borrowLentDueDates.length) {
          const warningCookieExpiry = borrowSettings.WARNING_COOKIE_EXPIRY_IN_DAYS * 60 * 60 * 24
          const nowDate = Math.floor(Date.now() / 1000)
          const latestDueDate = Math.min(...this.loggedInUser.borrowLentDueDates)
          const secsUntilEnd = latestDueDate - (Math.floor(Date.now() / 1000))
          const hoursUntilEnd = secsUntilEnd / 60 / 60
          let deadlineWarn = false

          if (hoursUntilEnd < borrowSettings.LENT_RESOURCE_WARNING_BEFORE_DUE_IN_HOURS) {
            deadlineWarn = 'warning'
          }

          if (hoursUntilEnd <= 0) {
            deadlineWarn = 'overdue'
          }

          if (deadlineWarn) {
            let deadlineNeeded = false
            let deadlineCookie = {}
            let deadlineToken = this.$cookies.get('deadlineToken')
            if(deadlineToken !== undefined && deadlineToken !== null) {
              deadlineToken = deadlineToken.toString()
              const deadlineArray = deadlineToken.split(".")

              if (deadlineArray.length !== 3) {
                deadlineNeeded = true
              }
              else {
                deadlineArray.forEach((value, key) => {
                  let mappedKey = ''
                  if (key === 0) {
                    mappedKey = 'latestDueDate'
                  } else if (key === 1) {
                    mappedKey = 'lastWarn'
                  } else {
                    mappedKey = 'deadlineWarn'
                  }
                  deadlineCookie[mappedKey] = value
                })

                if (deadlineCookie.latestDueDate.toString() !== latestDueDate.toString()) {
                  deadlineNeeded = true
                }

                if (nowDate >= (parseInt(deadlineCookie.lastWarn) + warningCookieExpiry)) {
                  deadlineNeeded = true
                }

                if (deadlineCookie.deadlineWarn !== deadlineWarn) {
                  deadlineNeeded = true
                }

              }
            }
            else {
              deadlineNeeded = true
            }
            
            if(deadlineNeeded) {
              let cookieDeadlineToken =
                latestDueDate + '.' +
                nowDate + '.' +
                deadlineWarn

              this.$cookies.set('deadlineToken', cookieDeadlineToken)

              if(deadlineWarn === 'overdue') {
                setTimeout(() => {
                  this.$notify({
                    group: 'general',
                    type: 'error',
                    title: 'Caution!',
                    text: 'You have a borrowed item that is overdue.',
                    duration: 10000
                  })
                }, 3000)
              }
              else {
                setTimeout(() => {
                  this.$notify({
                    group: 'general',
                    type: 'warn',
                    title: 'Warning!',
                    text: 'You have a borrowed item that is almost due.',
                    duration: 10000
                  }) 
                }, 1500)             
              }
            }
          }
        }
      },

      openBorrowQueue() {
        try {
          this.$modal.show(userBorrowQueue,
            {},
            {
              height: '70%',
              width: '45%'
            },
            {
              'before-open': (event) => {
                this.modalBeforeOpen()
              },
              'before-close': (event) => {
                this.modalBeforeClose()
              }
            }
          )
        }
        catch (err) {

        }
      },

      openBorrowHistory() {
        try {
          this.$modal.show(userBorrowHistory,
            {},
            {
              height: '70%',
              width: '45%'
            },
            {
              'before-open': (event) => {
                this.modalBeforeOpen()
              },
              'before-close': (event) => {
                this.modalBeforeClose()
              }
            }
          )
        }
        catch (err) {

        }
      },

      modalBeforeOpen() {
        view.disableWindowScroll()
      },

      modalBeforeClose() {
        view.enableWindowScroll()
      },
    }
  }
</script>