<template>
  <div class="notification is-danger">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'Notification',
  props: {
    message: {
        type: String,
        required: true,
        default: 'error',
    }
  }
}
</script>