
html {
  font-family: 'Product Sans' !important;
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: url('/integrated/fonts/ProductSans/ProductSansRegular.ttf');
}


.vfade-leave-active {
  transition: opacity 0.3s;
}
.vfade-enter-active {
  transition: opacity 0s;
}
.vfade-enter, .vfade-leave-to {
  opacity: 0;
}

.loaderFixed {
  position:fixed;
}

.loaderAbsolute {
  position: absolute;
}

.loaderContainer {
  top: 0px;
  left: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  z-index: 2
}


.vPaginationContainer {
  width: 100%;
}

.vPagination {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 30px;
  list-style: none;
  border-radius: .25rem;
  float: right;
  right: 0;
}

.vPagination > .active > a, .vPagination > .active > span, .vPagination > .active > a:hover, .vPagination > .active > span:hover, .vPagination > .active > a:focus, .vPagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #6CC4EE;
  border-color: #6CC4EE;
}

.vPagination > li:first-child > a, .vPagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.vPagination > .disabled > span, .vPagination > .disabled > span:hover, .vPagination > .disabled > span:focus, .vPagination > .disabled > a, .vPagination > .disabled > a:hover, .vPagination > .disabled > a:focus {
  color: #777;
  cursor: default;
  background-color: #fff;
  border-color: #ddd;
  opacity: 0.4
}

.vPagination > li > a, .vPagination > li > span {
  position: relative;
  float: left;
  padding: 4px 11px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #6CC4EE;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.vPagination > li > a:hover, .vPagination > li > span:hover {
  transition-duration : 0.3s;
  color: #0069d9;
}


button {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.disabledIndicator {
  display: none;
}

.errorIndicator {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center
}

.warningIndicator {
  background-color: #eaea00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center
}

.indicator {
  white-space:nowrap;
}

.indicator span {
  position:relative;
  line-height: 18px !important;
  color:white;
  font-size: 20px;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none; 
          user-select: none;
}

.notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  position: relative
}

.notification a:not(.button) {
  color: currentColor;
  text-decoration: underline
}

.notification strong {
  color: currentColor
}

.notification code,
.notification pre {
  background: #fff
}

.notification pre code {
  background: 0 0
}

.notification>.delete {
  position: absolute;
  right: .5rem;
  top: .5rem
}

.notification .content,
.notification .subtitle,
.notification .title {
  color: currentColor
}

.notification.is-white {
  background-color: #fff;
  color: #0a0a0a
}

.notification.is-black {
  background-color: #0a0a0a;
  color: #fff
}

.notification.is-light {
  background-color: #f5f5f5;
  color: #363636
}

.notification.is-dark {
  background-color: #363636;
  color: #f5f5f5
}

.notification.is-primary {
  background-color: #00d1b2;
  color: #fff
}

.notification.is-link {
  background-color: #3273dc;
  color: #fff
}

.notification.is-info {
  background-color: #209cee;
  color: #fff
}

.notification.is-success {
  background-color: #23d160;
  color: #fff
}

.notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, .7)
}

.notification.is-danger {
  background-color: #ff3860;
  color: #fff
}

.fixed-top {
  z-index: 3 !important;
}

.black {
  color: black !important;
}

.btnMargin {
  margin-top: 5px
}

.btn-delete{
  background-color:#f93e3e !important;
  border-color: #f93e3e !important;
}

button.btn-delete:hover {
  background-color:#e22828 !important;
}

.btn-changeValidity {
  background-color: #EBCCB1 !important;
  border-color: #EBCCB1 !important;
}

button.btn-changeValidity:hover {
  background-color: #dbae85 !important;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .btn-holder {
  display: flex;
  justify-content: flex-end;
}

.buttonDisabled {
  background-color: #a5a5a5 !important;
  border-color: #a5a5a5 !important;
  pointer-events: none;
  transition-duration: 0.3s
}

.buttonReqDisabled {
  opacity: 0.5 !important;
  pointer-events: none;
  transition-duration: 0.3s
}

.selectDisabled {
  opacity: 0.4;
  pointer-events: none;
  transition-duration: 0.3s
}

.modifiedInputType {
  padding: 2px 5px;
  width: 100%
}

.searchFilterItem {
  padding-left:1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filterCustom {
  min-width: 15rem !important;
  z-index: 2 !important;
}

.filterTable td {
  padding: 5px 5px 5px 10px !important;
  min-width: 10rem;
  vertical-align: top;

}

.disabledFilter {
  transition-duration: 0.3s;
  pointer-events: none;
  opacity: 0.3;
}

.headerDiv {
  position: relative;
}

.headerDiv span {
  font-size: 14pt;
}

.headerSpanLeft {
  padding-left: 1rem;
}

.headerSpanRight {
  position: absolute;
  right: 1rem;
}

.headerHrTop {
  margin-bottom: 5px;
}

.headerHrBottom {
  margin-top: 5px;
}

.cardFiller {
  opacity: 0;
}

.cardSeparator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.borrowQueueModalItem {
  padding-left: 1rem;
}