<template>
  <div>
    <Navbar/>
    <v-dialog/>
    <notifications 
      position="upper right"
      group="general"
      style = "margin-top: 60px; z-index: 1;"
    />
    <nuxt class = "authenticatedContainer"/>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  head () {
    return {
      script: [
      ],
      link: [
      ]
    }
  },

  components: {
    Navbar
  },

  mounted() {
    document.querySelector('body').style.backgroundImage="url('/integrated/images/bg.jpg')"
    document.querySelector('body').style.overflow="auto"
  }
}
</script>

<style>
.authenticatedContainer {
  padding-top: 54px;
  font-family: product sans;
}

@media (min-width: 992px) {
  .authenticatedContainer {
    padding-top: 56px;
  }
}
</style>