<template>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <table><tr colspan="2"><td>
        <h1 style="color:white">{{ fullName }}</h1>
        <p class="lead" > 
          {{ userType }}
          <br> {{ loggedInUser.username }}
          <br> {{ loggedInUser.email }}
        </p>
        <button 
          type="button" 
          data-toggle="modal" 
          data-target="modal.html#HisMod" 
          class="btn btn-primary"
          @click="openBorrowQueue"
        >
          Borrow Queue
        </button>
        <button 
          type="button" 
          data-toggle="modal" 
          data-target="modal.html#QMod" 
          class="btn btn-primary"
          @click="openBorrowHistory"
        >
          Borrow History
        </button>
      </td><td>
        <canvas 
          id="doughnutChart" 
          width="534" 
          height="267" 
          class="chartjs-render-monitor" 
          style="display: block; width: 534px; height: 267px;"/>
      </td></tr></table>
		
    </header>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { jsUcFirst } from '~/assets/parseData'
  import view from '~/assets/modifyView'

  import userBorrowQueue from '~/components/modals/userBorrowQueue'
  import userBorrowHistory from '~/components/modals/userBorrowHistory'

  export default {
    computed: {
      ...mapGetters([
        'isAuthenticated',
        'loggedInUser']
      ),

      fullName () {
        if (this.isAuthenticated) {
          const firstName = jsUcFirst(this.loggedInUser.first_name)
          const middleInitial = jsUcFirst(this.loggedInUser.middle_initial[0])
          const lastName = jsUcFirst(this.loggedInUser.last_name)

          return `${firstName} ${middleInitial}. ${lastName}`
        }
        return null
      },

      userType() {
        return jsUcFirst(this.loggedInUser.type)
      }
    },

    methods: {
      openBorrowQueue() {
        try {
          this.$modal.show(userBorrowQueue,
            {},
            {
              height: '70%',
              width: '45%'
            },
            {
              'before-open': (event) => {
                this.modalBeforeOpen()
              },
              'before-close': (event) => {
                this.modalBeforeClose()
              }
            }
          )
        }
        catch (err) {

        }
      },

      openBorrowHistory() {
        try {
          this.$modal.show(userBorrowHistory,
            {},
            {
              height: '70%',
              width: '45%'
            },
            {
              'before-open': (event) => {
                this.modalBeforeOpen()
              },
              'before-close': (event) => {
                this.modalBeforeClose()
              }
            }
          )
        }
        catch (err) {

        }
      },

      modalBeforeOpen() {
        view.disableWindowScroll()
      },

      modalBeforeClose() {
        view.enableWindowScroll()
      },
    }
  }
</script>