<template>
  <div class="container">
    <div class="login-container">
      <div id="output"/>
      <div class="avatar"/>
      <h2 style = "margin-bottom: 20px;">
        {{ lastLogger }}
      </h2>
      <div class="form-box">
        <form
          method="post"
          @submit.prevent="login"
        >
          <Notification
            v-show="error"
            :message="error"
            style = "width: 100%;margin-bottom:10px;text-align: center;"
          />
          <div
            v-if="previewMode"
            class="notification is-warning"
            style="width: 100%; margin-bottom:10px; text-align: center;"
          >
            App is in <strong>Preview Mode</strong> - all write operations are prohibited to keep server costs within free tier limits
          </div>
          <input
            v-model="username"
            type="text"
            name="username"
            placeholder="username">
          <input
            v-model="password"
            class="input100"
            type="password"
            name="pass"
            placeholder="password">
          <center style="margin-bottom: 20px;">
            <button
              :class="requestSent ? 'buttonReqDisabled btn btn-info btn-block login' : 'btn btn-info btn-block login'"
              type="submit"
            >
              Login
            </button>
          </center>
          <center>
            <a
              v-if="testCredentialsLink"
              :href="testCredentialsLink"
              class="login-link"
            >
              Get test credentials
            </a>
            <a
              v-if="stackLink"
              :href="stackLink"
              class="login-link"
            >
              See stack repository
            </a>
          </center>
        </form>
      </div>
      <div/>
    </div>
    <div class = "bgContainer"/>
  </div>
</template>

<style>
  /*login*/
  .login-link {
    color: #343a40 !important;
    padding: 5px;
  }

  .login-container{
    position: relative;
    width: 400px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
  }

  .bgContainer {
    background-image: url('/integrated/images/img-01.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -2;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bgContainer::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #005bea;
  background: -webkit-linear-gradient(to top, #EBCCB1, #27AEE3);
  background: -o-linear-gradient(to top, #EBCCB1, #27AEE3);
  background: -moz-linear-gradient(to top, #EBCCB1, #27AEE3);
  background: linear-gradient(to top, #EBCCB1, #27AEE3);
  opacity: 0.7;
  }

  #output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
  }

  #output.alert-success{
    background: rgb(25, 204, 25);
  }

  #output.alert-danger{
    background: rgb(228, 105, 105);
  }


  /*.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

  }

  .login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

  }*/

  .avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid black;
    background-size: cover;
    background-image: url('/integrated/images/avatar-01.jpg');
  }

  .form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
  font-family: product sans;
  margin-bottom: 10px;
  border-radius: 5px;
  border:none;
  }

  .form-box input:focus{
    outline: 0;
    background: #eee;
  }

  .form-box button.login{
  font-family: product sans;
  font-size: 15px;
  color: #e0e0e0;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background: #343a40;
  border: none;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  }

  .form-box button.login:before{
  font-family: product sans;
  font-size: 15px;
  color: #e0e0e0;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background: black;
  padding: 0 25px;
  border: none;
  margin-top:20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  }

  .form-box button.login:hover{
  background: black;
  color: #fff;
    }

  .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  }

  @keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  }

  .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }
</style>

<script>
import Notification from '~/components/Notification'

export default {
  layout: 'no-layout',
  components: {
    Notification,
  },

  data() {
    return {
      username: '',
      password: '',
      requestSent: false,
      error: null
    }
  },

  computed: {
    lastLogger() {
      let lastLogger = this.$cookies.get('lastLogger')
      if(lastLogger === undefined || lastLogger === null) {
        return 'User'
      }

      return lastLogger
    },
    previewMode() {
      return process.env.PREVIEW_MODE === 'true'
    },
    testCredentialsLink() {
      return process.env.TEST_CREDENTIALS_LINK
    },
    stackLink() {
      return process.env.STACK_LINK
    }
  },

  created() {
    const forceMessage = this.$cookies.get('forceLogoutMessage')
    this.$cookies.remove('forceLogoutMessage')
    this.error = forceMessage
  },

  mounted() {
    document.querySelector('body').style.backgroundImage=""
    document.querySelector('body').style.overflow="hidden"
  },

  methods: {
    async login() {
      if (this.username.trim() === '') {
        this.error = 'Username field is required'
      } else if (this.password.trim() === '') {
        this.error = 'Password field is required'
      } else {
        try {
          if (!this.requestSent) {
            this.requestSent = true
            await this.$auth.loginWith('local', {
              data: {
                username: this.username,
                password: this.password
              }
            })
            this.requestSent = false
            this.$router.push('/')
          }
        } catch (err) {
          this.requestSent = false
          this.error = 'Internal server error'

          if (err.response.data.reason == 'unauthorized') {
            this.error = 'Invalid username or password'
          }

          if (err.response.data.reason == 'not allowed') {
            this.error = 'User account has been disabled'
          }

          if (err.response.data.reason === 'Invalid user status') {
            this.error = 'User account status invalid'
          }
        }
      }
    }
  }
}
</script>