<template>
  <div>
    <br>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div 
              id="adv-search" 
              class="input-group">
              <input
                v-model="searchQuery"
                type="text" 
                class="form-control" 
                placeholder="Browse"
                @keyup.enter = "fetchDocuments(true)"
              >
              <div class="input-group-btn">
                <div 
                  class="btn-group" 
                  role="group">
                  <div class="dropdown dropdown-lg">
                    <button 
                      type="button" 
                      class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-expanded="false"><span class="caret"/></button>
                    <div class = "filterDivisionContainer">
                      <div 
                        class="dropdown-menu dropdown-menu-right filterCustom" 
                        role="menu"
                      >
                        <form
                          class="form-horizontal"
                          role="form"
                          @submit.prevent="onSubmit"
                        >
                          <label>Include: </label>
                          <br>
                          <template v-for="type in typesFilter()">
                            <label
                              :key="type"
                              class = "searchFilterItem"
                            >
                              <input
                                v-model = "includedTypes"
                                :value = "type"
                                type = "checkbox"
                              > {{ parse(type) }}
                            </label>
                            <br :key="type+'br'">
                          </template>
                          <label>Show: </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "null"
                              type = "radio"
                            >
                            All
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "true"
                              type = "radio"
                            >
                            Available
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "false"
                              type = "radio"
                            >
                            Not Available
                          </label>
                          <br>
                        </form>
                        <center>
                          <button
                            class="btn btn-primary"
                            @click = "fetchDocuments(true)"
                          >
                            Apply
                          </button>
                        </center>
                      </div>
                    </div>
                  </div>
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    @click = "fetchDocuments(true)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Documents -->
      <div class="container">
        <br>
        <center>
          <div 
            id="books" 
            class="div1 divs"
          >
            <h1>DOCUMENTS</h1><button 
              type="button" 
              class="btn btn-primary" 
              @click = "fetchDocuments"
            >
              Refresh
            </button>
          </div>
        </center>
        <template v-if="searchResults>0">
          <hr class = "headerHrTop">
          <div class = "headerDiv">
            <span class = "headerSpanLeft">
              {{ searchResults }} {{ searchResults > 1 ? 'results' : 'result' }}
            </span>
            <span class = "headerSpanRight">
              Borrow Queue: {{ loggedInUser.borrows }}/2
            </span>
          </div>
          <hr class = "headerHrBottom">
        </template>
        <hr v-else>
        <div
          v-if="rows.length"
          class="row"
        >
          <div
            v-for = "row in rows"
            :key = "row.id"
            class="card card-body column"
          >
            <p class="lead black">{{ row.title }}</p>
            <span
              v-for="(detail, index) in row.details"
              :key="index"
            >
              {{ parse(index) }}: {{ detail }}<br>
            </span>
            Category: {{ parse(row.type) }} <br>
            Borrowed Copies: {{ row.borrowed }} out of {{ row.count }}<br>
            <button 
              :class="row.borrowed>=row.count || loggedInUser.borrows > 1 ? 'btn btn-primary buttonDisabled' : requestButtonClass"
              @click="sendBorrowRequest(row)"
            >
              {{ requestButtonText(row.borrowed >= row.count) }}
            </button>
          </div>
          <div
            v-if="rows.length % 2 === 1"
            class="card card-body column cardFiller"
          />
          <!-- PAGINATION -->
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="paginationFetchDocuments"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
          <!-- PAGINATION -->
        </div>
        <!-- NO CONTENT -->
        <noContent v-else/>
        <!-- NO CONTENT --> 
      </div>
    </div>
    <!-- LOADER -->
    <transition name="vfade">
      <div 
        v-if = "loading"
        class = "loaderContainer loaderFixed"
      >
        <loader/>
      </div>
    </transition>
    <!-- LOADER -->
  </div>
</template>

<script>
  import loader from '~/components/misc/loader'
  import noContent from '~/components/misc/noContent'
  import { parseSelectOption } from '~/assets/parseData'
  import { mapGetters, mapActions } from 'vuex'
  import itemsMapping from '~/config/items.mapping'

  export default {
    components: {
      loader,
      noContent
    },

    data() {
      return {
        renderCtr: 0,
        loading: true,
        requestSent: false,
        borrowRequestSent: false,
        searchQuery: '',
        includedTypes: [],
        availabilityRequired: null,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        searchResults: 0,
        rows: []
      }
    },

    computed: {
      ...mapGetters(['loggedInUser']),

      ...mapActions(['incrementBorrowCount','modifyBorrowCount']),

      requestButtonClass() {
        if(this.borrowRequestSent) {
          return 'btn btn-primary buttonReqDisabled'
        }

        return 'btn btn-primary'
      }
    },

    created() {
      this.includedTypes.push(...this.typesFilter())
      this.fetchDocuments()
    },

    methods: {
      requestButtonText(notAvailable) {
        if(notAvailable) {
          return 'Not available'
        } else if (this.loggedInUser.borrows > 1) {
          return 'Borrow queue full'
        } else {
          return 'Request'
        }
      },

      typesFilter() {
        return Object.keys(itemsMapping.document).map((type) => {
          return type
        })
      },

      async paginationFetchDocuments() {
        await this.fetchDocuments(false)
      },

      async fetchDocuments(fromEvent = true) {
        if (!this.requestSent) {
          try {
            this.requestSent = true
            let documents
            let fetchRoute = 'resources'
            let paramsValue = []
            this.loading = true

            if (fromEvent) {
              this.page = 1
            }

            if(this.availabilityRequired !== null) {
              paramsValue['availabilityRequired'] = JSON.parse(this.availabilityRequired)
            }
            paramsValue['includedTypes'] = this.includedTypes
            paramsValue['pageNumber'] = this.page
            paramsValue['recordsPerPage'] = this.recordsPerPage
            if (this.searchQuery !== '') {
              fetchRoute += '/search'
              paramsValue['searchQuery'] = this.searchQuery
            }

            documents = await this.$axios.$get(fetchRoute, { params : { ...paramsValue }})

            this.pageCount = documents.numberOfPages
            this.rows = documents.data.rows
            this.searchResults = documents.data.count
            this.loading = false
            this.requestSent = false
            
            if (process.client) {
              window.scrollTo(0,0)
            }

          } catch (err) {
            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Request failed',
              text: errorMessage
            })
            this.loading = false
            this.requestSent = false
          }
        }
      },

      async sendBorrowRequest(resource) {
        try {
          this.borrowRequestSent = true

          const isBorrowed = await this.$axios.$put(`/resources/borrow/users/${this.loggedInUser.id}/request/${resource.id}`)

          if(isBorrowed.success) {
            this.$store.dispatch('incrementBorrowCount')
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow request sent'
              })
            }
                 
          this.borrowRequestSent = false

        } catch (err) {
          this.borrowRequestSent = false
          const errorMessage = this.customErrorParser(err)

          if(errorMessage === 'Borrow queue limit reached') {
            this.$store.dispatch('modifyBorrowCount', 2)
          }
          if(errorMessage === 'Resource not available' || errorMessage === 'Resource does not exist') {
            this.fetchDocuments()
          }

          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Borrow request failed',
            text: errorMessage
          })
        }
      },

      parse(option) {
        return parseSelectOption(option)
      }
    }
  }
</script>