<template>
  <div>
    <br>
    <div
      v-if = "isAdmin"
      class="container"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div
              id="adv-search"
              class="input-group">
              <input
                v-model="searchQuery"
                type="text"
                class="form-control"
                placeholder="Browse"
                @keyup.enter = "fetchDocuments(true)"
              >
              <div class="input-group-btn">
                <div
                  class="btn-group"
                  role="group">
                  <div class="dropdown dropdown-lg">
                    <button
                      type="button"
                      class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown"
                      aria-expanded="false"><span class="caret"/></button>
                    <div class = "filterDivisionContainer">
                      <div
                        class="dropdown-menu dropdown-menu-right filterCustom"
                        role="menu"
                      >
                        <form
                          class="form-horizontal"
                          role="form"
                          @submit.prevent="onSubmit"
                        >
                          Include:
                          <table class = "filterTable">
                            <tr>
                              <td
                                v-for = "classification in classificationsFilter"
                                :key = "classification"
                                :class = "classification === 'digital' ? digitalFilterability : ''"
                              >
                                <label>
                                  <input
                                    v-model = "includedClassifications"
                                    :value = "classification"
                                    type = "checkbox"
                                  >
                                  {{ parse(classification) }}
                                </label>
                              </td>
                            </tr>
                            <tr>
                              <td
                                v-for = "classification in classificationsFilter"
                                :key = "classification"
                                :class = "classification === 'digital' ? digitalFilterability : ''"
                              >
                                <div
                                  :class = "includedClassifications.includes(classification) ? '' : 'disabledFilter'"
                                >
                                  <template v-for="type in typesFilter(classification)">
                                    <label
                                      :key="type"
                                      class = "searchFilterItem"
                                    >
                                      <input
                                        v-model = "includedTypes"
                                        :value = "type"
                                        type = "checkbox"
                                      > {{ parse(type) }}
                                    </label>
                                    <br :key="type+'br'">
                                  </template>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <label>Show: </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "null"
                              type = "radio"
                            >
                            All
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "true"
                              type = "radio"
                            >
                            Available (Documents only)
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "false"
                              type = "radio"
                            >
                            Not Available (Documents only)
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "availabilityRequired"
                              name = "showRadio"
                              value = "withdrawn"
                              type = "radio"
                            >
                            Withdrawn (Documents only)
                          </label>
                        </form>
                        <center>
                          <button
                            class="btn btn-primary"
                            @click = "fetchDocuments(true)"
                          >
                            Apply
                          </button>
                        </center>
                      </div>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-primary"
                    @click = "fetchDocuments(true)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <br>
        <center>
          <div
            id="books"
            class="div1 divs"
          >
            <h1>Resources</h1>
            <button
              type="button"
              class="btn btn-primary"
              @click = "fetchDocuments"
            >
              Refresh
            </button>
            <button
              :class="operationRequest ? 'buttonReqDisabled btn btn-primary' : 'btn btn-primary'"
              @click="createResource"
            >
              Create
            </button>
            <br>
            <button
              :class="generateSent ? 'buttonReqDisabled btn btn-primary btnMargin' : 'btn btn-primary btnMargin'"
              @click="generateReport"
            >
              Generate Report
            </button>
          </div>
        </center>
        <template v-if="searchResults>0">
          <hr class = "headerHrTop">
          <div class = "headerDiv">
            <span class = "headerSpanLeft">
              {{ searchResults }} {{ searchResults > 1 ? 'results' : 'result' }}
            </span>
            <span class = "headerSpanRight"/>
          </div>
          <hr class = "headerHrBottom">
        </template>
        <hr v-else>
        <div
          v-if="rows.length"
          class="row"
        >
          <div
            v-for = "(row, index) in rows"
            :key = "index"
            class="card card-body column"
          >
            <p class="lead black">{{ row.title }}</p>
            <span
              v-for="(detail, index) in row.details"
              :key="index"
            >
              {{ parse(index) }}: {{ detail }}<br>
            </span>
            Category: {{ parse(row.type) }} <br>
            Classification: {{ parse(row.classification) }} <br>
            <span v-if="row.classification=='document'">
              Borrowed Copies: {{ row.borrowed }} out of {{ row.count }}<br>
            </span>
            <button
              :class="operationRequest ? 'buttonReqDisabled btn btn-primary' : 'btn btn-primary'"
              @click="updateResource(removeObserver(row), index)"
            >
              Update
            </button>
            <button
              :class="row.hasHistory ? 'buttonDisabled btn btn-primary btnMargin' : deleteButtonClass"
              @click="commitDeleteResource(removeObserver(row), index)"
            >
              <template v-if="row.hasHistory">
                Referenced to borrow
              </template>
              <template v-else>
                Delete
              </template>
            </button>
          </div>
          <div
            v-if="rows.length % 2 === 1"
            class="card card-body column cardFiller"
          />
          <!-- PAGINATION -->
          <br>
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="paginationFetchDocuments"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
          <!-- PAGINATION -->
        </div>
        <!-- NO CONTENT -->
        <noContent v-else/>
        <!-- NO CONTENT -->
      </div>
    </div>
    <!-- NO ADMIN CREDENTIAL -->
    <NoAdminCredentials v-else />
    <!-- NO ADMIN CREDENTIAL -->
    <!-- LOADER -->
    <transition name="vfade">
      <div
        v-if = "loading"
        class = "loaderContainer loaderFixed"
      >
        <loader/>
      </div>
    </transition>
    <!-- LOADER -->
    <!-- OPERATION MODAL -->
    <modal
      name="operationModal"
      height="510px"
      width="510px"
      @before-open="operationModalBeforeOpen"
      @before-close="operationModalBeforeClose"
    >
      <div class="modal-header">
        <h4 class="modal-title">
          {{ jsUcFirst(operation) }} Resource
        </h4>
      </div>
      <div
        class="modal-body"
        style = "height:100% !important;"
      >
        <Notification
          v-if ="operationError"
          :message="operationError"
        />
        <center>
          <table
            cellpadding= "5"
          >
            <tr>
              <td>
                Classification:
              </td>
              <td>
                <select
                  v-model="opClassification"
                  :class="opHasHistory ? 'selectDisabled modifiedInputType' : 'modifiedInputType'"
                >
                  <option value="document">Document</option>
                  <option value="digital">Digital</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                Category:
              </td>
              <td>
                <select
                  v-model="opType"
                  class = "modifiedInputType"
                >
                  <option
                    v-for="(type, index) in resourceTypes"
                    :key="index"
                    :value="type"
                  >
                    {{ jsUcFirst(type) }}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                Title:
              </td>
              <td>
                <input
                  v-model="opTitle"
                  type="text"
                  class="modifiedInputType"
                  placeholder="Title"
                >
              </td>
            </tr>
            <tr
              v-for="(detail, key) in opDetails"
              :key="key"
            >
              <td>
                {{ parseSelectOption(key) }}:
              </td>
              <td>
                <input
                  v-model="opDetails[key]"
                  :placeholder="parseSelectOption(key)"
                  type="text"
                  class="modifiedInputType"
                >
              </td>
            </tr>
            <tr v-if="opClassification=='document'">
              <td>
                Count:
              </td>
              <td>
                <input
                  v-model="opCount"
                  :min="opCountMin"
                  type="number"
                  class="modifiedInputType"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                >
              </td>
            </tr>
            <tr v-if="operation=='update' && opClassification=='document'">
              <td>
                Borrowed
              </td>
              <td>
                {{ opBorrowed }}
              </td>
            </tr>
            <tr>
              <td colspan = "2">
                <center>
                  <button
                    v-if="operation == 'create'"
                    :class="operationRequest ? 'buttonReqDisabled btn btn-primary' : 'btn btn-primary'"
                    @click="commitCreateOperation"
                  >
                    Save
                  </button>
                  <button
                    v-else
                    :class="operationRequest ? 'buttonReqDisabled btn btn-primary' : 'btn btn-primary'"
                    @click="commitUpdateOperation()"
                  >
                    Save
                  </button>
                  <button
                    class="btn btn-primary btn-delete"
                    @click="hideOperationModal"
                  >
                    Close
                  </button>
                </center>
              </td>
            </tr>
          </table>
        </center>
      </div>
    </modal>
    <!-- OPERATION MODAL -->
  </div>
</template>

<script>
  import loader from '~/components/misc/loader'
  import noContent from '~/components/misc/noContent'
  import Notification from '~/components/Notification'

  import parseData from '~/assets/parseData'
  import view from '~/assets/modifyView'

  import NoAdminCredentials from '~/components/NoAdminCredentials'

  import itemsMapping from '~/config/items.mapping'

  import { mapGetters } from 'vuex'

  import download from 'js-file-download'

  export default {
    components: {
      loader,
      noContent,
      NoAdminCredentials,
      Notification
    },

    data() {
      return {
        isAdmin: false,
        renderCtr: 0,
        loading: true,
        requestSent: false,
        searchQuery: '',
        includedTypes: [],
        includedClassifications: [],
        availabilityRequired: null,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        searchResults: 0,
        rows: [],

        modalOpen: false,
        operation: '',
        operationRequest: false,
        operationError: false,
        opClassification: 'document',
        opType: '',
        opTitle: '',
        opDetails: {},
        opCount: 1,
        opCountMin: 0,
        opBorrowed: 0,
        opHasHistory: false,

        updateRow: 0,
        updateModalRenderCount: 0,

        generateSent: false
      }
    },

    computed: {
      ...mapGetters(['loggedInUser']),

      deleteButtonClass() {
        if(this.operationRequest) {
          return 'btn btn-primary btnMargin btn-delete buttonReqDisabled'
        }

        return 'btn btn-primary btnMargin btn-delete'
      },

      classificationsFilter() {
        return Object.keys(itemsMapping).map((classification) => {
          return classification
        })
      },

      resourceTypes() {
        var ctr = 0
        return Object.keys(itemsMapping[this.opClassification]).map((key) => {
            if (ctr == 0) {
              if(this.operation !== 'update') {
                this.opType = key
              } else {
                if (this.updateModalRenderCount > 0) {
                  this.opType = key
                }
                this.updateModalRenderCount++
              }
            }
            ctr++
            return key
          }
        )
      },

      digitalFilterability() {
        if (this.availabilityRequired === 'withdrawn') {
          return 'disabledFilter'
        }

        if (JSON.parse(this.availabilityRequired) !== null) {
          return 'disabledFilter'
        }

        return ''
      },
    },

    watch: {
      opType: function (newValue, oldValue) {
        this.updateDetailsColumn()
      }
    },

    created() {
      this.isAdmin = parseData.validateAdmin(this.loggedInUser.type)
      this.includedTypes.push(...this.typesFilter())
      this.includedClassifications.push(
        ...Object.keys(itemsMapping).map((classification) => {
          return classification
        })
      )
      this.fetchDocuments()
    },

    methods: {
      typesFilter(classification = false) {
        if (!classification) {
          var typeCollection = []

          Object.keys(itemsMapping).forEach((cls) => {
            Object.keys(itemsMapping[cls]).forEach((type) => {
              typeCollection.push(type)
            })
          })

          return typeCollection
        }

        return Object.keys(itemsMapping[classification]).map((type) => {
          return type
        })
      },

      paginationFetchDocuments() {
        this.fetchDocuments(false)
      },

      async fetchDocuments(fromEvent = true) {
        if (!this.requestSent) {
          try {
            this.requestSent = true
            let documents
            let fetchRoute = 'resources'
            let paramsValue = []
            this.loading = true

            if (fromEvent) {
              this.page = 1
            }

            // custom route guard (so that route notification wont trigger)
            if(this.isAdmin) {
              let includedTypes = []

              this.includedClassifications.forEach((classification) => {
                Object.keys(itemsMapping[classification]).forEach((type) => {
                  if (this.includedTypes.includes(type)) {
                    includedTypes.push(type)
                  }
                })
              })

              if(this.availabilityRequired !== null) {
                if(this.availabilityRequired !== 'withdrawn') {
                  paramsValue['availabilityRequired'] = JSON.parse(this.availabilityRequired)
                } else {
                  paramsValue['availabilityRequired'] = 'showWithdrawn'
                }
              }
              paramsValue['includedTypes'] = includedTypes
              paramsValue['pageNumber'] = this.page
              paramsValue['recordsPerPage'] = this.recordsPerPage

              if (this.searchQuery !== '') {
                fetchRoute += '/search'
                paramsValue['searchQuery'] = this.searchQuery
              }

              documents = await this.$axios.$get(fetchRoute, { params : { ...paramsValue }})

              this.pageCount = documents.numberOfPages
              this.rows = documents.data.rows
              this.searchResults = documents.data.count
            }
            this.loading = false
            this.requestSent = false

            if (process.client) {
              window.scrollTo(0,0)
            }

          } catch (err) {
            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Request failed',
              text: errorMessage
            })
            this.loading = false
            this.requestSent = false
          }
        }
      },

      async generateReport() {
        if (!this.generateSent) {
          try {
            this.$notify({
              group: 'general',
              title: 'Report Generation started',
              text: 'Please wait while file is being generated'
            })
            this.generateSent = true
            let fetchRoute = 'resources/generate'
            let paramsValue = []
            let includedTypes = []

            this.includedClassifications.forEach((classification) => {
              Object.keys(itemsMapping[classification]).forEach((type) => {
                if (this.includedTypes.includes(type)) {
                  includedTypes.push(type)
                }
              })
            })

            if(this.availabilityRequired !== null) {
                if(this.availabilityRequired !== 'withdrawn') {
                  paramsValue['availabilityRequired'] = JSON.parse(this.availabilityRequired)
                } else {
                  paramsValue['availabilityRequired'] = 'showWithdrawn'
                }
              }
            paramsValue['includedTypes'] = includedTypes
            paramsValue['searchQuery'] = this.searchQuery

            const response = await this.$axios.get(
              fetchRoute,
              {
                params : { ...paramsValue },
                responseType: 'blob'
              })
            const reg = /filename\*?=['"]?(?:UTF-\d['"]*)?([^;\r\n"']*)['"]?;?/

            download(
              response.data,
              response.headers['content-disposition'].match(reg)[1]
            )

            this.generateSent = false
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Report Generation finished',
              text: 'File has been downloaded'
            })
          } catch (err) {
            const resText = await new Promise((resolve, reject) => {
              const reader = new FileReader()
              reader.addEventListener('abort', reject)
              reader.addEventListener('error', reject)
              reader.addEventListener('loadend', () => {
                resolve(reader.result)
              })
              reader.readAsText(err.response.data)
            })
            const resData = JSON.parse(resText)
            err.response.data = resData

            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Report Generation failed',
              text: errorMessage
            })
            this.loading = false
            this.generateSent = false
          }
        }
      },

      updateDetailsColumn() {
        const typeMapping = itemsMapping[this.opClassification][this.opType]
        Object.keys(this.opDetails).forEach((key) => {
          if(!typeMapping.includes(key)) {
            Reflect.deleteProperty(this.opDetails, key)
          }
        })

        typeMapping.forEach((key) => {
          if(this.opDetails[key] === undefined){
            this.opDetails[key] = ''
          }
        })

        const temporaryVar = this.opDetails
        this.opDetails = {}
        this.opDetails = temporaryVar
      },

      createResource() {
        if(this.operation == 'update') {
          this.opClassification = 'document'
          this.opTitle = ''
          this.opDetails = {}
          this.opCount = 1
          this.opBorrowed = 0
          this.opHasHistory = false
        }
        this.operation = 'create'
        this.$modal.show('operationModal')
        // this.updateDetailsColumn()
      },

      async commitCreateOperation() {
        try {
          this.operationRequest = true
          const validation = this.validateCommitOperation()
          if (this.opClassification !== 'document') {
            this.opCount = 0
          }

          if(validation === '') {
            const createResource = await this.$axios.$put('/resources',
              {
                title: this.opTitle,
                details: this.opDetails,
                count: this.opCount,
                borrowed: 0,
                classification: this.opClassification,
                type: this.opType
              }
            )
            if(createResource.success === true){
              this.$notify({
                group: 'general',
                type: 'success',
                title: 'Success',
                text: 'Resource has been created'
              })
              this.resetOperationData()
              this.operationError = false
            }
          }
          else{
            this.operationError = validation
          }

          this.operationRequest = false
        } catch (err) {
          const errorMessage = this.customErrorParser(err)
          this.operationError = errorMessage
          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Resource creation failed',
            text: errorMessage
          })
          this.operationRequest = false
        }
      },


      updateResource(resource,index) {
        this.updateRow = index
        this.operation = 'update'
        this.opClassification = resource.classification
        this.opType = resource.type
        this.opTitle = resource.title
        this.opDetails = resource.details
        this.opCount = resource.count
        this.opBorrowed = resource.borrowed
        this.opHasHistory = resource.hasHistory
        this.updateModalRenderCount = 0
        this.$modal.show('operationModal')
      },

      async commitUpdateOperation() {
        try {
          this.operationRequest = true
          const validation = this.validateCommitOperation()

          if(this.opClassification !== 'document') {
            this.opCount = 0
            this.opBorrowed = 0
          }

          const updateId = this.rows[this.updateRow].id
          if(validation === '') {
            const updateResource = await this.$axios.$post(`/resources/${updateId}`,
              {
                title: this.opTitle,
                details: this.opDetails,
                count: this.opCount,
                borrowed: this.opBorrowed,
                classification: this.opClassification,
                type: this.opType
              }
            )
            if(updateResource.success === true){
              this.$notify({
                group: 'general',
                type: 'success',
                title: 'Success',
                text: 'Resource has been updated'
              })

              this.rows[this.updateRow] = updateResource.data

              this.operationError = false
            } else {
              this.operationError = updateResource.reason
            }
          }
          else{
            this.operationError = validation
          }

          this.operationRequest = false
        } catch (err) {
          this.fetchDocuments()
          const errorMessage = this.customErrorParser(err)
          this.operationError = errorMessage
          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Resource update failed',
            text: errorMessage
          })

          this.operationRequest = false
        }
      },

      async commitDeleteResource(resource, index) {
        try {
          this.operationRequest = true
          if(!(this.rows[index].borrowed > 0)) {
            const deleteId = this.rows[index].id
            const deleteResource = await this.$axios.$delete(`/resources/${deleteId}`)
            if(deleteResource.success === true){
              this.$notify({
                group: 'general',
                type: 'success',
                title: 'Success',
                text: 'Resource has been deleted'
              })

              this.rows.splice(index, 1)
              this.searchResults--
            } else {
              this.operationError = deleteResource.reason
            }
          }
          else {
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Resource delete failed',
              text: `Resource currently ${this.rows[index].borrowed} borrowers`
            })
          }
          this.operationRequest = false
        } catch (err) {
          this.fetchDocuments()
          const errorMessage = this.customErrorParser(err)
          this.operationError = errorMessage
          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Resource delete failed',
            text: errorMessage
          })

          this.operationRequest = false
        }
      },

      validateCommitOperation() {
        let errorMessage = ''

        if (this.opClassification === 'document') {
          if(!(this.opCount >= 0) || (this.opCount % 1 !== 0)) {
            errorMessage = 'Count must be a valid integer.'
          }

          if (this.operation === 'update') {
            if(!(this.opCount >= this.opBorrowed)) {
              errorMessage = "Count must be greater than or equal the borrow count."
            }
          }
        }

        Object.keys(this.opDetails).forEach((key) => {
          if (this.opDetails[key].trim() === '' && errorMessage === '') {
            errorMessage = `${this.parseSelectOption(key)} field is required.`
          }
        })

        if (this.opTitle.trim() === '') {
          errorMessage = "Title field is required."
        }

        return errorMessage
      },

      resetOperationData() {
          this.opDetails = {}
          this.opTitle = ''
          this.opCount = 0
          this.opBorrowed = 0
          this.updateDetailsColumn()
      },

      removeObserver(object) {
        return JSON.parse(JSON.stringify(object))
      },

      hideOperationModal() {
        this.$modal.hide('operationModal')
      },

      operationModalBeforeOpen() {
        view.disableWindowScroll()
        this.modalOpen = true
      },

      operationModalBeforeClose() {
        this.operationError = false
        view.enableWindowScroll()
        this.modalOpen = false
      },

      jsUcFirst(text) {
        return parseData.jsUcFirst(text)
      },

      parseSelectOption(option) {
        return parseData.parseSelectOption(option)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      }
    }
  }
</script>