<template>
  <div style="overflow-y:scroll; height: 100%;">
    <div>
      <div class="modal-header">
        <h4 class="modal-title">Borrow Queue</h4>
      </div>
    </div>
    <transition name="vfade">
      <div
        v-if="loading"
        class = "loaderContainer loaderAbsolute"
      >
        <loader/>
      </div>
    </transition>

    <div v-if="!loading">
      <div
        class="modal-body"
        style = "height:100% !important"
      >
        <Notification
          v-if ="borrowQueueError"
          :message="borrowQueueError"
          class = "errorContainer"
        />
        <div v-if="pending.length">
          <span style = "font-size: 20px;">PENDING</span>
          <hr>
          <div
            v-for="row in pending"
            :key="row.id"
          >
            <div class = "borrowQueueModalItem">
              Title: {{ row.resource.title }}<br>
              Type: {{ parse(row.resource.type) }}<br>
              <span
                v-for="(detail, index) in row.resource.details"
                :key="index"
              >
                {{ parse(index) }}: {{ parse(detail) }}<br>
              </span><br>
              Date requested: {{ formatDate(row.created_at) }}<br>
              Expires on: {{ formatExpiryDate(row.created_at) }}<br>
              <button
                class="btn btn-primary btn-delete"
                @click = "cancel(row.id)"
              >
                CANCEL
              </button>
            </div>
            <hr>
          </div>
        </div>

        <div v-if="lent.length">
          <span style = "font-size: 20px;">BORROWED</span>
          <hr>
          <div
            v-for="row in lent"
            :key="row.id"
          >
            <div class = "borrowQueueModalItem">
              Title: {{ row.resource.title }}<br>
              Type: {{ parse(row.resource.type) }}<br>
              <span
                v-for="(detail, index) in row.resource.details"
                :key="index"
              >
                {{ parse(index) }}: {{ parse(detail) }}<br>
              </span><br>
              Date approved: {{ formatTimeStamp(row.date_approved) }}<br>
              Valid until: {{ formatUntilDate(row.date_due) }}
              {{ computeValidityDuration(row.date_approved,row.date_due) }}<br><br>
              <div v-if="getBorrowDateValidity(row.date_due).isValid">
                <table>
                  <tr>
                    <td>
                      Status: On-going
                    </td>
                    <td>
                      <div
                        v-if="queueStatusWarning(row.date_due)"
                        class="indicator warningIndicator"
                        style="margin-top:2px;margin-left:5px;"
                      >
                        <span>
                          &#33;
                        </span>
                      </div>
                    </td>
                  </tr>
                </table>
                Time remaining: {{ getBorrowDateValidity(row.date_due).remainingDays }}
              </div>
              <span v-else>
                <table>
                  <tr>
                    <td>
                      Status: Overdue
                    </td>
                    <td>
                      <div
                        class="indicator errorIndicator"
                        style="margin-top:2px;margin-left:5px;"
                      >
                        <span>
                          &#33;
                        </span>
                      </div>
                    </td>
                  </tr>
                </table>
                Overdue by: {{ getBorrowDateValidity(row.date_due).overdueTime }}<br>
                Penalty: {{ getBorrowDateValidity(row.date_due).penalty }}
              </span>
            </div>
            <hr>
          </div>
        </div>
      </div>

      <div v-if="!pending.length && !lent.length">
        <br>
        <center>No item in borrow queue.</center>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import parseData from '~/assets/parseData'
  import loader from '~/components/misc/loader'
  import borrowSettings from '~/config/borrow.settings'
  import Notification from '~/components/Notification'
  
  export default {
    components: {
      loader,
      Notification
    },

    data() {
      return {
        borrowQueueError: false,
        loading: true,
        pending: [],
        lent: []
      }
    },

    computed: {
      ...mapGetters(['loggedInUser']),
      ...mapActions(['modifyBorrowCount', 'refetchSettings'])
    },

    created() {
      this.fetchBorrowQueue()
    },
    
    methods: {
      async fetchBorrowQueue() {
        this.loading = true

        try {
          const pending
            = await this.$axios.$get(
              `resources/borrow/users/${this.loggedInUser.id}`,
              {
                params: {
                  status: 'pending'
                }
              }
            )
          const lent
            = await this.$axios.$get(
              `resources/borrow/users/${this.loggedInUser.id}`,
              {
                params: {
                  status: 'lent'
                }
              }
            )
          this.pending = pending.data.rows
          this.lent = lent.data.rows

          const totalBorrows = pending.data.rows.length + lent.data.rows.length
          if (this.loggedInUser.borrows !== totalBorrows) {
           this.$store.dispatch('modifyBorrowCount', totalBorrows)
           this.$store.dispatch('refetchSettings')
          }
          this.loading = false
        }
        catch (err) {
          const errorMessage = this.customErrorParser(err)
          this.loading = false
          this.borrowQueueError = errorMessage
        }
      },

      async cancel(borrow_id) {
        try {
          this.borrowQueueError = false
          this.loading = true
          const response
            = await this.$axios.$delete(`resources/borrow/users/${this.loggedInUser.id}/cancel/${borrow_id}`)
          this.fetchBorrowQueue()
          this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow request cancelled'
          })
          this.loading = false
        }
        catch (err) {
          const errorMessage = this.customErrorParser(err)
          this.loading = false  

          this.borrowQueueError = errorMessage
          if (errorMessage== 'Cannot cancel non pending borrow request') {
            this.borrowQueueError = 'Borrow request has been addressed by the librarian'
          }
          else if (errorMessage == 'Borrow request does not exist') {
            this.borrowQueueError = 'Borrow request already expired/cancelled'
          }
          this.fetchBorrowQueue()
        }
      },

      queueStatusWarning(latestLentDate) {
        const approvalDateEnd = parseInt(latestLentDate)
        const secsUntilEnd = approvalDateEnd - (Math.floor(Date.now() / 1000))
        const hoursUntilEnd = secsUntilEnd / 60 / 60
        
        if (hoursUntilEnd < borrowSettings.LENT_RESOURCE_WARNING_BEFORE_DUE_IN_HOURS) {
          return true
        }

        return false
      },

      formatDate(date) {
        return parseData.formatDate(date, true)
      },

      formatExpiryDate(date) {
        return parseData.formatExpiryDate(date, true)
      },

      formatTimeStamp(date) {
        return parseData.formatTimeStamp(date, true)
      },

      formatUntilDate(date) {
        return parseData.formatUntilDate(date,true)
      },

      getBorrowDateValidity(date) {
        return parseData.getBorrowDateValidity(date)
      },

      computeValidityDuration(startDate,endDate) {
        return parseData.computeValidityDuration(startDate,endDate)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      }
    }
  }
</script>