<template>
  <div style="overflow-y:scroll; height: 100%;">
    <div>
      <div class="modal-header">
        <h4 class="modal-title">Borrow History</h4>
      </div>
    </div>
    <transition name="vfade">
      <div
        v-if="loading"
        class = "loaderContainer loaderAbsolute"
      >
        <loader/>
      </div>
    </transition>

    <div v-if="!loading">
      <div
        class="modal-body"
        style = "height:100% !important"
      >
        <Notification
          v-if ="borrowHistoryError"
          :message="borrowHistoryError"
        />
        <div v-if="history.length">
          <div
            v-for = "row in history"
            :key = "row.id"
          >
            <div class = "borrowQueueModalItem">
              Title: {{ row.resource.title }}<br>
              <span
                v-for="(detail, index) in row.resource.details"
                :key="index"
              >
                {{ parse(index) }}: {{ parse(detail) }}<br>
              </span>
              Category: {{ parse(row.resource.type) }} <br><br>
              Requested on: {{ formatDate(row.created_at) }}<br><br>
              Status: {{ parse(row.status) }}
              <div v-if="row.status == 'returned'">            
                Approved on: {{ formatTimeStamp(row.date_approved) }}<br>
                Valid until: {{ formatTimeStamp(row.date_due) }}
                {{ computeValidityDuration(row.date_approved,row.date_due) }}
                <div v-if="getFinishedBorrowDateValidity(row.date_returned, row.date_due).isValid">
                  Returned on: {{ formatTimeStamp(row.date_returned) }}
                </div>
                <div v-else>
                  Returned on: {{ formatTimeStamp(row.date_returned) }}<br>
                  Overdue by: {{ getFinishedBorrowDateValidity(row.date_returned, row.date_due).overdueTime }}<br>
                  Penalty: {{ getFinishedBorrowDateValidity(row.date_returned, row.date_due).penalty }}
                </div>
              </div>
              <div v-else>
                Rejected on: {{ formatDate(row.updated_at) }}
              </div>
            </div>
            <hr>
          </div>
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="fetchBorrowHistory"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
        </div>
        <div v-else>
          <br>
          <center>No item in borrow history.</center>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapMutations } from 'vuex'
  import parseData from '~/assets/parseData'
  import loader from '~/components/misc/loader'
  import Notification from '~/components/Notification'
  
  export default {
    components: {
      loader,
      Notification
    },

    data() {
      return {
        borrowHistoryError: false,
        loading: true,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        history: []
      }
    },

    computed: {
      ...mapGetters(['loggedInUser'])
    },

    created() {
      this.fetchBorrowHistory()
    },
    
    methods: {
      async fetchBorrowHistory() {
        this.loading = true

        try {
          const history
            = await this.$axios.$get(
              `resources/borrow/users/${this.loggedInUser.id}/history`,{
                params: {
                  pageNumber: this.page,
                  recordsPerPage: this.recordsPerPage
                }
              }
            )

          this.history = history.data.rows
          this.pageCount = history.numberOfPages
          this.loading = false
        }
        catch (err) {
          const errorMessage = this.customErrorParser(err)
          this.loading = false
          this.borrowHistoryError = errorMessage
        }
      },
      
      formatDate(date) {
        return parseData.formatDate(date,true)
      },

      formatTimeStamp(date) {
        return parseData.formatTimeStamp(date,true)
      },

      getFinishedBorrowDateValidity(startDate,endDate) {
        return parseData.getFinishedBorrowDateValidity(startDate,endDate)
      },

      computeValidityDuration(startDate,endDate) {
        return parseData.computeValidityDuration(startDate,endDate)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      }
    }
  }
</script>