<template>
  <div>
    <br>
    <div
      v-if = "isAdmin"
      class="container"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div 
              id="adv-search" 
              class="input-group">
              <input
                v-model="searchQuery"
                type="text" 
                class="form-control" 
                placeholder="Browse"
                @keyup.enter = "fetchDocuments(true)"
              >
              <div class="input-group-btn">
                <div 
                  class="btn-group" 
                  role="group"
                >
                  <div class="dropdown dropdown-lg">
                    <button 
                      type="button" 
                      class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-expanded="false"><span class="caret"/></button>
                    <div class = "filterDivisionContainer">
                      <div 
                        class="dropdown-menu dropdown-menu-right filterCustom" 
                        role="menu"
                      >
                        <form
                          class="form-horizontal"
                          role="form"
                          @submit.prevent="onSubmit"
                        >
                          <label>Show: </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              :value = "JSON.parse('false')"
                              name = "showRadio"
                              type = "radio"
                            >
                            All
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "ongoing"
                              type = "radio"
                            >
                            On-going
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "overdue"
                              type = "radio"
                            >
                            Overdue
                          </label>
                        </form>
                        <center>
                          <button
                            class="btn btn-primary"
                            @click = "fetchDocuments(true)"
                          >
                            Apply
                          </button>
                        </center>
                      </div>
                    </div>
                  </div>
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    @click = "fetchDocuments(true)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <br>
        <center>
          <div 
            id="books" 
            class="div1 divs"
          >
            <h1>Active Borrows</h1>
            <button 
              type="button" 
              class="btn btn-primary" 
              @click = "fetchDocuments"
            >
              Refresh
            </button>
          </div>
        </center>
        <template v-if="searchResults>0">
          <hr class = "headerHrTop">
          <div class = "headerDiv">
            <span class = "headerSpanLeft">
              {{ searchResults }} {{ searchResults > 1 ? 'results' : 'result' }}
            </span>
            <span class = "headerSpanRight"/>
          </div>
          <hr class = "headerHrBottom">
        </template>
        <hr v-else>
        <div
          v-if="rows.length"
          class="row"
        >
          <div
            v-for = "(row, index) in rows"
            :key = "row.id"
            class="card card-body column"
          >
            <p class="lead black">{{ row.resource.title }}</p>
            <span
              v-for="(detail, index) in row.resource.details"
              :key="index"
            >
              {{ parse(index) }}: {{ parse(detail) }}<br>
            </span>
            Category: {{ parse(row.resource.type) }} <br>
            Borrowed Copies: {{ row.resource.borrowed }} out of {{ row.resource.count }}<br><br>
            Requester: {{ buildRequesterName(row.user) }}<br>
            Id: {{ row.user.username }} <br>
            Requested on: {{ formatDate(row.created_at) }}<br>
            Approved on: {{ formatTimeStamp(row.date_approved) }}<br>
            Valid until: {{ formatUntilDate(row.date_due) }}
            {{ computeValidityDuration(row.date_approved,row.date_due) }}<br><br>
            <span v-if="getBorrowDateValidity(row.date_due).isValid">
              Status: On-going<br>
              Time remaining: {{ getBorrowDateValidity(row.date_due).remainingDays }}<br>
            </span>
            <span v-else>
              Status: Overdue<br>
              <table>
                <tr>
                  <td>
                    Overdue by: {{ getBorrowDateValidity(row.date_due).overdueTime }}
                  </td>
                  <td>
                    <div
                      class="indicator errorIndicator"
                      style="margin-top:2px;margin-left:5px;"
                    >
                      <span>
                        &#33;
                      </span>
                    </div>
                  </td>
                </tr>
              </table>
              Penalty: {{ getBorrowDateValidity(row.date_due).penalty }}<br>
            </span>
            <button
              :class="updateSent ? 'buttonReqDisabled btn btn-primary btn-changeValidity' : 'btn btn-primary btn-changeValidity'"
              @click="changeValidity(removeObserver(row), index)"
            >
              Change validity date
            </button>
            <button
              :class="updateSent ? 'buttonReqDisabled btn btn-primary btnMargin' : 'btn btn-primary btnMargin'"
              @click="resolveBorrowRequest(row, index)"
            >
              Resolve
            </button>
          </div>
          <div
            v-if="rows.length % 2 === 1"
            class="card card-body column cardFiller"
          />
          <!-- PAGINATION -->
          <br>
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="paginationFetchDocuments"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
          <!-- PAGINATION -->
        </div>
        <!-- NO CONTENT -->
        <noContent v-else/>
        <!-- NO CONTENT --> 
      </div>
    </div>
    <!-- NO ADMIN CREDENTIAL -->
    <NoAdminCredentials v-else />
    <!-- NO ADMIN CREDENTIAL -->
    <!-- LOADER -->
    <transition name="vfade">
      <div 
        v-if = "loading"
        class = "loaderContainer loaderFixed"
      >
        <loader/>
      </div>
    </transition>
    <!-- LOADER -->
    <!-- CHANGE VALIDITY MODAL -->
    <modal
      v-if = "isAdmin"
      name="changeValidityModal"
      height="270px"
      width="300px"
      @before-open="changeValidityModalBeforeOpen"
      @before-close="changeValidityModalBeforeClose"
    >
      <div class="modal-header">
        <h4 class="modal-title">
          <center>
            Change validity date
          </center>
        </h4>
      </div>
      <div
        class="modal-body"
        style = "height:100% !important"
      >
        <center>
          <table
            cellpadding= "5"
          >
            <tr>
              <td>
                Valid for: 
              </td>
              <td>
                <input
                  v-model="changeValidityDays"
                  :min="minValidity"
                  type="number"
                  class="modifiedInputType"
                  style="width: 100px;"
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                  @keyup.enter="commitChangeValidity"
                >
              </td>
              <td>
                days
              </td>
            </tr>
          </table>
          <table
            cellpadding= "2"
            style = "color: #5e5e5e;"
          >
            <tr>
              <td style = "text-align: right;">
                from:
              </td>
              <td>
                {{ formatTimeStamp(changeValiditydateApproved) }}
              </td>
            </tr>
            <tr>
              <td style = "text-align: right;">
                to:
              </td>
              <td>
                {{ changeValidityTo(changeValiditydateApproved, changeValidityDays) }}
              </td>
            </tr>
          </table>
          <br>
          <button
            :class="updateSent || !allowChangeValidity ? 'buttonReqDisabled btn btn-primary' : 'btn btn-primary'"
            @click="commitChangeValidity"
          >
            Save
          </button>
          <button
            class="btn btn-primary btn-delete"
            @click="hideChangeValidityModal"
          >
            Close
          </button>
        </center>
      </div>
    </modal>
    <!-- CHANGE VALIDITY MODAL -->
  </div>
</template>

<script>
  import loader from '~/components/misc/loader'
  import noContent from '~/components/misc/noContent'

  import parseData from '~/assets/parseData'
  import view from '~/assets/modifyView'
  import NoAdminCredentials from '~/components/NoAdminCredentials'

  import borrowSettings from '~/config/borrow.settings'

  import { mapGetters } from 'vuex'

  export default {
    components: {
      loader,
      noContent,
      NoAdminCredentials
    },

    data() {
      return {
        isAdmin: false,
        renderCtr: 0,
        loading: true,
        requestSent: false,
        searchQuery: '',
        borrowStatus: false,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        searchResults: 0,
        rows: [],
        updateSent: false,

        minValidity: borrowSettings.LENT_RESOURCE_DUE_IN_DAYS,
        changeValidityDays: borrowSettings.LENT_RESOURCE_DUE_IN_DAYS,
        changeValiditydateApproved: 0,
        allowChangeValidity: true,
        changeValidityIndex: 0,
        changeValidityId: 0
      }
    },

    computed: {
      ...mapGetters(['loggedInUser'])
    },

    watch: {
      changeValidityDays: function (newValue, oldValue) {
        if (newValue === '' || newValue < this.minValidity) {
          this.changeValidityDays = this.minValidity
        }
      }
    },

    created() {
      this.isAdmin = parseData.validateAdmin(this.loggedInUser.type)
      this.fetchDocuments()
    },

    methods: {
      paginationFetchDocuments() {
        this.fetchDocuments(false)
      },

      async fetchDocuments(fromEvent = true) {
        if (!this.requestSent) {
          try {
            this.requestSent = true
            let documents
            let fetchRoute = 'resources/borrow/lent'
            let paramsValue = []
            this.loading = true

            if (fromEvent) {
              this.page = 1
            }

            // custom route guard (so that route notification wont trigger)
            if(this.isAdmin) {
              paramsValue['pageNumber'] = this.page
              paramsValue['recordsPerPage'] = this.recordsPerPage
              
              if(this.borrowStatus) {
                paramsValue['borrowStatus'] = this.borrowStatus
              }
              if (this.searchQuery !== '') {
                fetchRoute += '/search'
                paramsValue['searchQuery'] = this.searchQuery
              }
            
              documents = await this.$axios.$get(fetchRoute, { params : { ...paramsValue }})

              this.pageCount = documents.numberOfPages
              this.rows = documents.data.rows
              this.searchResults = documents.data.count
            }
            this.loading = false
            this.requestSent = false

            if (process.client) {
              window.scrollTo(0,0)
            }
            
          } catch (err) {
            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Request failed',
              text: errorMessage
            })
            this.loading = false
            this.requestSent = false
          }
        }
      },

      buildRequesterName(requester) {
        const firstName = parseData.jsUcFirst(requester.first_name)
        const middleInitial = parseData.jsUcFirst(requester.middle_initial[0])
        const lastName = parseData.jsUcFirst(requester.last_name)

        return `${firstName} ${middleInitial}. ${lastName}`
      },

      async resolveBorrowRequest(request, index) {
        this.updateSent = true
        try {
          const resolvedDate = Math.floor(Date.now() / 1000)
          const resolved = await this.$axios.$post(
            `resources/borrow/${request.id}`,
            {
              status: "returned",
              date_returned: resolvedDate
            }
          )

          if(resolved.success) {
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow request resolved'
            })
            this.rows.splice(index, 1)
          }

          this.updateSent = false
        } catch (err) {
          const errorMessage = this.customErrorParser(err)

          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Resolve request failed',
            text: errorMessage
          })

          this.fetchDocuments()
          this.updateSent = false
        }
      },

      changeValidity(row, index) {
        this.changeValidityIndex = index
        this.changeValidityId = row.id
        this.changeValiditydateApproved = row.date_approved
        this.changeValidityDays = Math.ceil((row.date_due - row.date_approved) / 60 / 60 / 24)
        this.$modal.show('changeValidityModal')
      },

      async commitChangeValidity() {
        try {
          this.updateSent = true
          this.$modal.hide('changeValidityModal')
          
          const newValidity = parseInt(this.changeValiditydateApproved) +
            (parseInt(this.changeValidityDays) * 60 * 60 * 24)
          const changedValidity = await this.$axios.$post(
            `resources/borrow/${this.changeValidityId}`,
            {
              date_due: newValidity
            }
          )

          if(changedValidity.success) {
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow validity date changed'
            })
            this.rows[this.changeValidityIndex] = changedValidity.data
          }

          this.updateSent = false

          this.updateSent = false
        } catch (err) {
          const errorMessage = this.customErrorParser(err)

          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Change validity date failed',
            text: errorMessage
          })

          this.updateSent = false
        }
      },

      changeValidityTo(changeValiditydateApproved, changeValidityDays) {
        const validityTo = this.formatTimeStamp(parseInt(changeValiditydateApproved) + 
          (parseInt(changeValidityDays) * 86400))
        
        if (validityTo.toLowerCase() === 'invalid date') {
          this.allowChangeValidity = false
        } else {
          this.allowChangeValidity = true
        }
        return validityTo
      },

      hideChangeValidityModal() {
        this.$modal.hide('changeValidityModal')
      },

      changeValidityModalBeforeOpen() {
        view.disableWindowScroll()
        this.modalOpen = true
      },

      changeValidityModalBeforeClose() {
        view.enableWindowScroll()
        this.modalOpen = false
      },

      formatDate(date) {
        return parseData.formatDate(date, true)
      },

      formatTimeStamp(date) {
        return parseData.formatTimeStamp(date, true)
      },

      formatUntilDate(date) {
        return parseData.formatUntilDate(date, true)
      },

      getBorrowDateValidity(date) {
        return parseData.getBorrowDateValidity(date)
      },

      computeValidityDuration(startDate,endDate) {
        return parseData.computeValidityDuration(startDate,endDate)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      },

      removeObserver(object) {
        return JSON.parse(JSON.stringify(object))
      }
    }
  }
</script>