<template>
  <div>
    <br>
    <div
      v-if = "isAdmin"
      class="container"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div 
              id="adv-search" 
              class="input-group">
              <input
                v-model="searchQuery"
                type="text" 
                class="form-control" 
                placeholder="Browse"
                @keyup.enter = "fetchDocuments(true)"
              >
              <div class="input-group-btn">
                <div 
                  class="btn-group" 
                  role="group">
                  <div class="dropdown dropdown-lg">
                    <button 
                      type="button" 
                      class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-expanded="false"><span class="caret"/></button>
                    <div class = "filterDivisionContainer">
                      <div 
                        class="dropdown-menu dropdown-menu-right filterCustom" 
                        role="menu"
                      >
                        <form
                          class="form-horizontal"
                          role="form"
                          @submit.prevent="onSubmit"
                        >
                          <label>Show: </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              :value = "JSON.parse('false')"
                              name = "showRadio"
                              type = "radio"
                            >
                            All
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "returned"
                              type = "radio"
                            >
                            Returned
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "ontime"
                              type = "radio"
                            >
                            Returned (On-time)
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "overdue"
                              type = "radio"
                            >
                            Returned (Overdue)
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "borrowStatus"
                              name = "showRadio"
                              value = "rejected"
                              type = "radio"
                            >
                            Rejected
                          </label>
                        </form>
                        <center>
                          <button
                            class="btn btn-primary"
                            @click = "fetchDocuments(true)"
                          >
                            Apply
                          </button>
                        </center>
                      </div>
                    </div>
                  </div>
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    @click = "fetchDocuments(true)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <br>
        <center>
          <div 
            id="books" 
            class="div1 divs"
          >
            <h1>Borrows History</h1>
            <button 
              type="button" 
              class="btn btn-primary" 
              @click = "fetchDocuments"
            >
              Refresh
            </button>
          </div>
        </center>
        <template v-if="searchResults>0">
          <hr class = "headerHrTop">
          <div class = "headerDiv">
            <span class = "headerSpanLeft">
              {{ searchResults }} {{ searchResults > 1 ? 'results' : 'result' }}
            </span>
            <span class = "headerSpanRight"/>
          </div>
          <hr class = "headerHrBottom">
        </template>
        <hr v-else>
        <div
          v-if="rows.length"
          class="row"
        >
          <div
            v-for = "row in rows"
            :key = "row.id"
            class="card card-body column"
          >
            <p class="lead black">{{ row.resource.title }}</p>
            <span
              v-for="(detail, index) in row.resource.details"
              :key="index"
            >
              {{ parse(index) }}: {{ parse(detail) }}<br>
            </span>
            Category: {{ parse(row.resource.type) }} <br>
            Borrowed Copies: {{ row.resource.borrowed }} out of {{ row.resource.count }}<br><br>
            Requester: {{ buildRequesterName(row.user) }}<br>
            Id: {{ row.user.username }} <br>
            Requested on: {{ formatDate(row.created_at) }}<br><br>
            Status: {{ parse(row.status) }}
            <div v-if="row.status == 'returned'">
              Approved on: {{ formatTimeStamp(row.date_approved) }}<br>
              Valid until: {{ formatTimeStamp(row.date_due) }}
              {{ computeValidityDuration(row.date_approved,row.date_due) }}
              <div v-if="getFinishedBorrowDateValidity(row.date_returned, row.date_due).isValid">
                Returned on: {{ formatTimeStamp(row.date_returned) }}
              </div>
              <div v-else>
                Returned on: {{ formatTimeStamp(row.date_returned) }}<br>
                Overdue by: {{ getFinishedBorrowDateValidity(row.date_returned, row.date_due).overdueTime }}<br>
                Penalty: {{ getFinishedBorrowDateValidity(row.date_returned, row.date_due).penalty }}
              </div>
            </div>
            <div v-else>
              Rejected on: {{ formatDate(row.updated_at) }}
            </div>
          </div>
          <div
            v-if="rows.length % 2 === 1"
            class="card card-body column cardFiller"
          />
          <!-- PAGINATION -->
          <br>
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="paginationFetchDocuments"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
          <!-- PAGINATION -->
        </div>
        <!-- NO CONTENT -->
        <noContent v-else/>
        <!-- NO CONTENT --> 
      </div>
    </div>
    <!-- NO ADMIN CREDENTIAL -->
    <NoAdminCredentials v-else />
    <!-- NO ADMIN CREDENTIAL -->
    <!-- LOADER -->
    <transition name="vfade">
      <div 
        v-if = "loading"
        class = "loaderContainer loaderFixed"
      >
        <loader/>
      </div>
    </transition>
    <!-- LOADER -->
  </div>
</template>

<script>
  import loader from '~/components/misc/loader'
  import noContent from '~/components/misc/noContent'

  import parseData from '~/assets/parseData'
  import NoAdminCredentials from '~/components/NoAdminCredentials'

  import { mapGetters } from 'vuex'

  export default {
    components: {
      loader,
      noContent,
      NoAdminCredentials
    },

    data() {
      return {
        isAdmin: false,
        renderCtr: 0,
        loading: true,
        requestSent: false,
        searchQuery: '',
        borrowStatus: false,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        searchResults: 0,
        rows: []
      }
    },

    computed: {
      ...mapGetters(['loggedInUser'])
    },

    created() {
      this.isAdmin = parseData.validateAdmin(this.loggedInUser.type)
      this.fetchDocuments()
    },

    methods: {
      paginationFetchDocuments() {
        this.fetchDocuments(false)
      },

      async fetchDocuments(fromEvent = true) {
        if (!this.requestSent) {
          try {
            this.requestSent = true
            let documents
            let fetchRoute = 'resources/borrow/history'
            let paramsValue = []
            this.loading = true

            if (fromEvent) {
              this.page = 1
            }

            // custom route guard (so that route notification wont trigger)
            if(this.isAdmin) {
              paramsValue['pageNumber'] = this.page
              paramsValue['recordsPerPage'] = this.recordsPerPage
              if(this.borrowStatus) {
                paramsValue['borrowStatus'] = this.borrowStatus
              }
              if (this.searchQuery !== '') {
                fetchRoute += '/search'
                paramsValue['searchQuery'] = this.searchQuery
              }
            
              documents = await this.$axios.$get(fetchRoute, { params : { ...paramsValue }})

              this.pageCount = documents.numberOfPages
              this.rows = documents.data.rows
              this.searchResults = documents.data.count
            }
            this.loading = false
            this.requestSent = false
            
            if (process.client) {
              window.scrollTo(0,0)
            }

          } catch (err) {
            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Request failed',
              text: errorMessage
            })
            this.loading = false
            this.requestSent = false
          }
        }
      },

      buildRequesterName(requester) {
        const firstName = parseData.jsUcFirst(requester.first_name)
        const middleInitial = parseData.jsUcFirst(requester.middle_initial[0])
        const lastName = parseData.jsUcFirst(requester.last_name)

        return `${firstName} ${middleInitial}. ${lastName}`
      },

      formatDate(date) {
        return parseData.formatDate(date,true)
      },

      formatTimeStamp(date) {
        return parseData.formatTimeStamp(date,true)
      },

      getFinishedBorrowDateValidity(startDate,endDate) {
        return parseData.getFinishedBorrowDateValidity(startDate,endDate)
      },

      computeValidityDuration(startDate,endDate) {
        return parseData.computeValidityDuration(startDate,endDate)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      }
    }
  }
</script>