<template>
  <div>
    <br>
    <div
      v-if = "isAdmin"
      class="container"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div 
              id="adv-search" 
              class="input-group">
              <input
                v-model="searchQuery"
                type="text" 
                class="form-control" 
                placeholder="Browse"
                @keyup.enter = "fetchDocuments(true)"
              >
              <div class="input-group-btn">
                <div 
                  class="btn-group" 
                  role="group">
                  <div class="dropdown dropdown-lg">
                    <button 
                      type="button" 
                      class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown" 
                      aria-expanded="false"><span class="caret"/></button>
                    <div class = "filterDivisionContainer">  
                      <div 
                        class="dropdown-menu dropdown-menu-right filterCustom" 
                        role="menu"
                      >
                        <form
                          class="form-horizontal"
                          role="form"
                          @submit.prevent="onSubmit"
                        >
                          <label>Show: </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "resourceAvailability"
                              :value = "JSON.parse('false')"
                              name = "showRadio"
                              type = "radio"
                            >
                            All
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "resourceAvailability"
                              name = "showRadio"
                              value = "available"
                              type = "radio"
                            >
                            Resource available
                          </label>
                          <br>
                          <label class = "searchFilterItem">
                            <input
                              v-model = "resourceAvailability"
                              name = "showRadio"
                              value = "notAvailable"
                              type = "radio"
                            >
                            Resource not available
                          </label>
                        </form>
                        <center>
                          <button
                            class="btn btn-primary"
                            @click = "fetchDocuments(true)"
                          >
                            Apply
                          </button>
                        </center>
                      </div>
                    </div>
                  </div>
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    @click = "fetchDocuments(true)"
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <br>
        <center>
          <div 
            id="books" 
            class="div1 divs"
          >
            <h1>Borrow Requests</h1>
            <button 
              type="button" 
              class="btn btn-primary" 
              @click = "fetchDocuments"
            >
              Refresh
            </button>
          </div>
        </center>
        <template v-if="searchResults>0">
          <hr class = "headerHrTop">
          <div class = "headerDiv">
            <span class = "headerSpanLeft">
              {{ searchResults }} {{ searchResults > 1 ? 'results' : 'result' }}
            </span>
            <span class = "headerSpanRight"/>
          </div>
          <hr class = "headerHrBottom">
        </template>
        <hr v-else>
        <div
          v-if="rows.length"
          class="row"
        >
          <div
            v-for = "row in rows"
            :key = "row.id"
            class="card card-body column"
          >
            <p class="lead black">{{ row.resource.title }}</p>
            <span
              v-for="(detail, index) in row.resource.details"
              :key="index"
            >
              {{ parse(index) }}: {{ parse(detail) }}<br>
            </span>
            Category: {{ parse(row.resource.type) }} <br>
            Borrowed Copies: {{ row.resource.borrowed }} out of {{ row.resource.count }}<br><br>
            Requester: {{ buildRequesterName(row.user) }}<br>
            Id: {{ row.user.username }} <br>
            Requested on: {{ formatDate(row.created_at) }}<br>
            Expires on: {{ formatExpiryDate(row.created_at) }}<br>
            <button
              :class="row.resource.borrowed >= row.resource.count ? 'buttonDisabled  btn btn-primary btnMargin' : approveButtonClass"
              @click="approveBorrowRequest(row)"
            > 
              <template v-if="row.resource.borrowed >= row.resource.count">
                Not available
              </template>
              <template v-else>
                Approve
              </template>
            </button>
            <button
              :class = "!operationRequest ? 'btn btn-primary btnMargin btn-delete' : 'btn btn-primary btnMargin btn-delete buttonReqDisabled'"
              @click="rejectBorrowRequest(row)"
            > 
              Reject
            </button>
          </div>
          <div
            v-if="rows.length % 2 === 1"
            class="card card-body column cardFiller"
          />
          <!-- PAGINATION -->
          <br>
          <div class="vPaginationContainer">
            <pagination
              v-model="page"
              :page-count="pageCount"
              :click-handler="paginationFetchDocuments"
              :containerClass="'vPagination'"
              :prev-text="'Prev'"
              :next-text="'Next'"
            />
          </div>
          <!-- PAGINATION -->
        </div>
        <!-- NO CONTENT -->
        <noContent v-else/>
        <!-- NO CONTENT --> 
      </div>
    </div>
    <!-- NO ADMIN CREDENTIAL -->
    <NoAdminCredentials v-else />
    <!-- NO ADMIN CREDENTIAL -->
    <!-- LOADER -->
    <transition name="vfade">
      <div 
        v-if = "loading"
        class = "loaderContainer loaderFixed"
      >
        <loader/>
      </div>
    </transition>
    <!-- LOADER -->
  </div>
</template>

<script>
  import loader from '~/components/misc/loader'
  import noContent from '~/components/misc/noContent'

  import parseData from '~/assets/parseData'
  import NoAdminCredentials from '~/components/NoAdminCredentials'

  import borrowSettings from '~/config/borrow.settings'

  import { mapGetters } from 'vuex'

  export default {
    components: {
      loader,
      noContent,
      NoAdminCredentials
    },

    data() {
      return {
        isAdmin: false,
        loading: true,
        requestSent: false,
        operationRequest: false,
        searchQuery: '',
        resourceAvailability: false,
        page: 1,
        pageCount: 1,
        recordsPerPage: 10,
        searchResults: 0,
        rows: []
      }
    },

    computed: {
      ...mapGetters(['loggedInUser']),

      approveButtonClass() {
        if (this.operationRequest) {
          return 'buttonReqDisabled  btn btn-primary btnMargin'
        }

        return 'btn btn-primary btnMargin'
      }
    },

    created() {
      this.isAdmin = parseData.validateAdmin(this.loggedInUser.type)
      this.fetchDocuments()
    },

    methods: {
      paginationFetchDocuments() {
        this.fetchDocuments(false)
      },

      async fetchDocuments(fromEvent = true) {
        if (!this.requestSent) {
          try {
            this.requestSent = true
            let documents
            let fetchRoute = 'resources/borrow/pending'
            let paramsValue = []
            this.loading = true

            if (fromEvent) {
              this.page = 1
            }

            // custom route guard (so that route notification wont trigger)
            if(this.isAdmin) {
              paramsValue['pageNumber'] = this.page
              paramsValue['recordsPerPage'] = this.recordsPerPage
              
              if(this.resourceAvailability) {
                paramsValue['resourceAvailability'] = this.resourceAvailability
              }

              if (this.searchQuery !== '') {
                fetchRoute += '/search'
                paramsValue['searchQuery'] = this.searchQuery
              }
            
              documents = await this.$axios.$get(fetchRoute, { params : { ...paramsValue }})

              this.pageCount = documents.numberOfPages
              this.rows = documents.data.rows
              this.searchResults = documents.data.count
            }
            this.loading = false
            this.requestSent = false
            
            if (process.client) {
              window.scrollTo(0,0)
            }
            
          } catch (err) {
            const errorMessage = this.customErrorParser(err)
            this.$notify({
              group: 'general',
              type: 'error',
              title: 'Request failed',
              text: errorMessage
            })
            this.loading = false
            this.requestSent = false
          }
        }
      },

      buildRequesterName(requester) {
        const firstName = parseData.jsUcFirst(requester.first_name)
        const middleInitial = parseData.jsUcFirst(requester.middle_initial[0])
        const lastName = parseData.jsUcFirst(requester.last_name)

        return `${firstName} ${middleInitial}. ${lastName}`
      },

      async approveBorrowRequest(request) {
        this.operationRequest = true
        try {
          const approvalDate = Math.floor(Date.now() / 1000)
          const approved = await this.$axios.$post(
            `resources/borrow/${request.id}`,
            {
              status: "lent",
              date_approved: approvalDate,
              date_due: approvalDate + borrowSettings.LENT_RESOURCE_DUE_IN_DAYS * 60 * 60 * 24
            }
          )

          if(approved.success) {
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow request approved'
            })
          }

          this.fetchDocuments()
          this.operationRequest = false
        } catch (err) {
          const errorMessage = this.customErrorParser(err)

          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Approval request failed',
            text: errorMessage
          })

          this.fetchDocuments()
          this.operationRequest = false
        }
      },

      async rejectBorrowRequest(request) {
        this.operationRequest = true
        try {
          const rejected = await this.$axios.$post(
            `resources/borrow/${request.id}`,
            {
              status: "rejected"
            }
          )

          if(rejected.success) {
            this.$notify({
              group: 'general',
              type: 'success',
              title: 'Success',
              text: 'Borrow request rejected'
            })
          }

          this.fetchDocuments()
          this.operationRequest = false
        } catch (err) {
          const errorMessage = this.customErrorParser(err)

          this.$notify({
            group: 'general',
            type: 'error',
            title: 'Borrow rejection request failed',
            text: errorMessage
          })

          this.fetchDocuments()
          this.operationRequest = false
        }
      },

      formatDate(date) {
        return parseData.formatDate(date, true)
      },

      formatExpiryDate(date) {
        return parseData.formatExpiryDate(date, true)
      },

      parse(option) {
        return parseData.parseSelectOption(option)
      }
    }
  }
</script>